@font-face {
  font-family: 'Quarto';
  font-style: normal; 
  font-weight: 600;
  src: url('./res/fonts/Quarto-Black.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: italic; 
  font-weight: 600;
  src: url('./res/fonts/Quarto-BlackItalic.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: normal; 
  font-weight: 500;
  src: url('./res/fonts/Quarto-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: italic; 
  font-weight: 500;
  src: url('./res/fonts/Quarto-BoldItalic.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: normal; 
  font-weight: 400;
  src: url('./res/fonts/Quarto-Semibold.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: italic; 
  font-weight: 400;
  src: url('./res/fonts/Quarto-SemiboldItalic.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: normal; 
  font-weight: 300;
  src: url('./res/fonts/Quarto-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: italic; 
  font-weight: 300;
  src: url('./res/fonts/Quarto-MediumItalic.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: normal; 
  font-weight: 200;
  src: url('./res/fonts/Quarto-Light.otf') format("opentype");
}

@font-face {
  font-family: 'Quarto';
  font-style: italic; 
  font-weight: 200;
  src: url('./res/fonts/Quarto-LightItalic.otf') format("opentype");
}

@font-face {
  font-family: 'BentonSansF';
  font-style: normal; 
  font-weight: 500;
  src: url('./res/fonts/BentonSansF-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'BentonSansF';
  font-style: italic; 
  font-weight: 500;
  src: url('./res/fonts/BentonSansF-BoldItalic.otf') format("opentype");
}

@font-face {
  font-family: 'BentonSansF';
  font-style: normal; 
  font-weight: 400;
  src: url('./res/fonts/BentonSansF-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'BentonSansF';
  font-style: normal; 
  font-weight: 300;
  src: url('./res/fonts/BentonSansF-Book.otf') format("opentype");
}

@font-face {
  font-family: 'BentonSansF';
  font-style: italic; 
  font-weight: 300;
  src: url('./res/fonts/BentonSansF-BookItalic.otf') format("opentype");
}

@font-face {
  font-family: 'BentonSansF';
  font-style: normal; 
  font-weight: 200;
  src: url('./res/fonts/BentonSansF-ExtraLight.otf') format("opentype");
}


h3 {
  font-family: 'BentonSansF'
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#mainVideoContainer .Typewriter {
  position: absolute;
  bottom: 140px;
  width: 100%;
}
#mainVideoContainer .Typewriter, #mainVideoContainer h3 {
  font-family: Quarto;
  font-size: 90px;
  font-weight: 700;
  color: #00F300;
}

.frogLogo {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.frogCrossout {
  width: calc(640px - 50px);
  left: 50%;
  position: absolute;
  height: 2px;
  top: calc(150px / 2);
  background-color: #00F300;
  transform: translateX(-50%);
}

.frogCrossoutL {
  width: calc((640px / 2) - 100px);
  left: 50%;
  position: absolute;
  height: 2px;
  bottom: calc(150px / 2);
  background-color: #00F300;
  transform: translateX(-130%);
}

.frogCrossoutR {
  width: calc((640px / 2) - 100px);
  left: 50%;
  position: absolute;
  height: 2px;
  bottom: calc(150px / 2);
  background-color: #00F300;
  transform: translateX(calc(130% - (640px / 2 - 100px)));
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}

#testContainer {
  width: 500px;
  height: 375px;
}

#videoElement {
  /*width: 500px;*/
  /*height: 375px;*/
  /*width: 100vw;*/
  background-color: #666;
}

canvas {
  border-radius: 45px;
  position: absolute;
  top: 824px;
  left: 832px;
}

@keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.smiley {
  /*animation: rotate3d 8s linear infinite;*/
}